<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Status</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-page">
  <div class="form">
 
    <form autocomplete = "off" class = "register-form" action="register" method="post">
      <input autocomplete="off" type="text" name="username" placeholder="username"/ required>
      <input autocomplete="off" type="password" name="password" placeholder="password"/ required>
      <button class="button">create</button>
	  
	</form>
	<form class = "register-form" action = "reset" method = "post">
	<p><button class = "buttonr">Reset</button></p>
	  
      
    </form>
	<form class = "register-form">
	<p class="message"> <a href="#">Back</a></p>
	</form>
	

   <form class="login-form" action="signout" method="post">
	 <button class = "button">Sign Out</button> 
      <p class="message"><a href="#">Manage</a></p>
	  
    </form>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>